/* *********************************** */
/* Importación de hojas de estilo */
/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Eloquia";
  src: url("../font/typekiln_-_eloquiatext-extralight-webfont.woff2")
      format("woff2"),
    url("../font/typekiln_-_eloquiatext-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "EloquiaB";
  src: url("../font/typekiln_-_eloquiadisplay-extrabold-webfont.woff2")
      format("woff2"),
    url("../font/typekiln_-_eloquiadisplay-extrabold-webfont.woff")
      format("woff");
}

/* *********************************** */
/* Colores y Variables */
/* *********************************** */
:root {
  --c-azul-claro: #60b1d7;
  --c-azul-marino-claro: #3772a1;
  --c-blanco: #f6f5f6;
  --c-negro: #020202;
  --c-gris-claro: #ebebeb;
  --c-gris-oscuro: #434343;
  --c-morado: #77416d;
  --c-rojo-rosado: #f3005e;
  --c-rojo-vino: #840028;
  --c-verde: #00ca32;

  /* Efectos */
  --sombra: var(--c-gris-claro) 0px 7px 29px 0px;
  --radius: 40px;
  --sombra-caja: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  /* Tamaños */
  --ancho-total: 2000px;
  --alto-total: 1115px;

  /* GRID */
  --grid-2por5: span 2 / span 5;
}

/* *********************************** */
/* Contenedor Principal */
/* *********************************** */
.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Efecro espejo a todo */
  & main div {
    transform: rotateY(180deg);
    opacity: 30%;
  }

  /* Animacion para las carta */
  /* Bloqueo de la caja central */
  & > main div:hover:not(.caja10) {
    cursor: pointer;
    opacity: 100%;
    box-shadow: var(--sombra-caja);
    transform: rotateY(360deg);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      box-shadow 2s ease, opacity 0.5s !important;
  }

  /* Apartado central */
  & main {
    width: min(var(--ancho-total), 100%);
    height: min(var(--alto-total), 100%);
    padding: 20px;
    box-shadow: var(--sombra);
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;

    /* Atributos generales de las cajas */
    & :where(div) {
      background: var(--c-gris-claro);
      border-radius: var(--radius);
      width: 100%;
      height: 100%;
      font-family: "Eloquia";
      text-align: center;

      /* Control de las cajas */
      display: flex;
      justify-content: center;
      align-items: center;

      /* Control del contenido */
      & p {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 18px;
      }
    }
    /* -------------------------------- */

    /* *********************************** */
    /* Atributos de todas la cajas */
    /* *********************************** */
    /* Atributos compartidos */
    .caja2,
    .caja3,
    .caja5,
    .caja8,
    .caja9,
    .caja11,
    .caja19 {
      flex-direction: column;
      justify-content: space-evenly;
    }

    .caja1 {
      grid-area: var(--grid-2por5);

      & p {
        line-height: 205%;

        & .big1 {
          font-size: 48px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
          font-family: "EloquiaB";
          background: linear-gradient(
            90deg,
            var(--c-azul-claro) 0%,
            var(--c-azul-marino-claro) 50%
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
    .caja2 {
      grid-area: span 2 / span 10;
    }
    .caja3 {
      grid-area: span 3 / span 7;
    }
    .caja4 {
      grid-area: span 3 / span 9;

      & img {
        align-self: center;
        margin: auto;
      }

      & p {
        line-height: 500%;
        position: absolute;
        justify-content: center;
        text-align: center;

        & .bateria {
          font-size: 45px;

          font-family: "EloquiaB";
          color: var(--c-blanco);
          padding-right: 20px;
        }

        & span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .caja5 {
      grid-area: span 3 / span 7;
    }
    .caja6 {
      grid-area: span 3 / span 12;

      & p {
        line-height: 150%;

        & .big2 {
          font-size: 125px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
          font-family: "EloquiaB";
          background: linear-gradient(
            89deg,
            var(--c-azul-claro) 1.24%,
            var(--c-azul-marino-claro)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .caja7,
    .caja8,
    .caja9 {
      grid-area: var(--grid-2por5);
    }
    .caja7 {
      & p {
        line-height: 205%;

        & .big3 {
          font-size: 48px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
          font-family: "EloquiaB";
          background: linear-gradient(
            90deg,
            var(--c-azul-claro) 0%,
            var(--c-azul-marino-claro) 50%
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
    .caja10 {
      grid-area: span 6 / span 20;
    }
    .caja11 {
      grid-area: span 3 / span 5;
    }
    .caja12 {
      grid-area: span 3 / span 10;

      & p {
        line-height: 150%;

        & .big4 {
          font-size: 125px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
          font-family: "EloquiaB";
          background: linear-gradient(
            89deg,
            var(--c-rojo-vino) 1.24%,
            var(--c-rojo-rosado)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .caja13 {
      grid-area: span 3 / span 15;
      font-size: 50px;
      font-family: "EloquiaB";
      color: var(--c-blanco);
      background: linear-gradient(
        31deg,
        rgba(105, 0, 17, 1) 11%,
        rgba(219, 0, 15, 1) 25%,
        rgba(149, 51, 231, 1) 38%,
        rgba(149, 51, 231, 1) 45%,
        rgba(219, 0, 15, 1) 69%,
        rgba(36, 37, 105, 1) 86%
      );
    }
    .caja14 {
      grid-area: span 6 / span 15;

      & img {
        border-radius: 15px;
        width: 60%;
      }
    }
    .caja15 {
      grid-area: span 2 / span 7;

      & p {
        line-height: 150%;

        & span {
          text-align: center;
          font-size: 60px;
          font-style: normal;
          font-weight: 800;
          line-height: 100.023%; /* 60.014px */
          font-family: "EloquiaB";
          background: linear-gradient(
            25deg,
            var(--c-rojo-vino) 38.48%,
            var(--c-azul-marino-claro) 64.72%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .caja16 {
      grid-area: span 2 / span 8;

      & p {
        line-height: 170%;
        font-size: 24px;

        & .big5 {
          text-align: center;
          font-size: 86px;
          font-style: normal;
          font-weight: 800;
          line-height: 100.023%; /* 60.014px */
          font-family: "EloquiaB";
          background: linear-gradient(
            84deg,
            var(--c-morado) 21.43%,
            var(--c-rojo-rosado) 91.38%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .caja17 {
      grid-area: span 3 / span 10;

      & p {
        line-height: 150%;

        & .big6 {
          font-size: 125px;
          font-style: normal;
          font-weight: 800;
          line-height: 130%;
          font-family: "EloquiaB";
          background: linear-gradient(
            88deg,
            var(--c-morado) -67.27%,
            var(--c-azul-marino-claro) 111.77%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .caja18 {
      grid-area: span 3 / span 5;

      & p {
        position: absolute;
        text-align: center;
        color: var(--c-gris-oscuro);

        font-family: "EloquiaB";
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 107%; /* 42.8px */

        background: linear-gradient(
          90deg,
          var(--c-azul-claro) -20.29%,
          var(--c-azul-marino-claro) 66.62%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        & span {
          flex: 1;
          text-align: center;
        }
      }
    }
    .caja19 {
      grid-area: span 3 / span 13;
    }
    .caja20 {
      grid-area: span 3 / span 7;

      & p {
        position: absolute;
        text-align: center;
        color: var(--c-negro);

        font-family: "EloquiaB";
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 107%; /* 42.8px */

        & span {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
/* ***************************** */
